//
// Light Buttons
//

.v-btn {
  &.bg-lightsecondary {
    &:hover,
    &:active,
    &:focus {
      background-color: rgb(var(--v-theme-secondary)) !important;
      color: $white !important;
    }
  }
}

.v-btn {
  letter-spacing: $btn-letter-spacing;
  text-transform: capitalize;
}

.v-btn--icon.v-btn--density-default {
  block-size: calc(var(--v-btn-height) + 6px);
  inline-size: calc(var(--v-btn-height) + 6px);
}
